@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto&family=Schibsted+Grotesk&family=Ubuntu&family=Varela+Round&display=swap');
*{
  font-family: 'Poppins',sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
 
}
.nav .logo{
  font-size: 1.6rem;
  font-weight: 600;
}
.nav .nav-mid{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-mid a{
  text-decoration: none;
  color: #565656;
  font-size: 1.1rem;
  font-weight: 400;
}
.nav-mid a:hover{
  color: #096704;
}
.nav-icons{
  display: flex;
  gap:2rem; 

}
.nav-icons i{
  font-size: 1rem;
  
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center ;
  vertical-align:middle;
  text-align: center;
  background-color: #89D69F;
  cursor: pointer;
}
.nav-icons i:hover{
  background-color: #096704;
}
.home{
  background-color:#E6E8DD;
  width: 97%;
  height:70%;
  margin: 0px 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.home .col-1{
  flex-basis: 45%;
  width: 100%;
  height: 100%;
  padding: 2rem 5rem 0px;  
}
.home .col-1 h3{
  font-size: 3.5rem;
  font-weight: 700;
  line-height:1.;
  text-transform: capitalize;
}
.col-2{
  flex-basis: 50%;
  
}
.col-2 img{
  width: 100%;
  object-fit:cover ;
  mix-blend-mode:multiply;
}
.col-1 p{
  font-size: 1.5rem;
  color: #565656;
  margin: 20px 0px 10px;
}
.input{
  position: relative;
  margin: 30px 0px 30px;
}
.col-1 .input input{
  width: 100%;
  display: block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius:15px ;
}
.input i{
  position: absolute;
  top: 11px;
  color: #aaa;
  right: 15px;
  font-size: 1.2rem;
}
.home-button{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
  color: #548776;
  text-transform: capitalize;
  font-weight: 600;
}
.home-button button{
  width:60%;
  padding: 10px;
  background-color:#E6E8DD;
  outline: none;
  border-radius: 20px;
  border: 2px solid #548776;
  color: #548776;
  font-size:1.1rem;

}
.home-button .active{
  background-color:#548776;
  color: white;
}
.features-grid{
  display: grid;
  position: relative;
  place-items: center center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 30px;
  width: 97%;
  height: 80vh;
  /* background-color: red; */
  
  
}
.grid{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
}
.grid p{
    text-align: center;
}
.grid h4{
  font-size: 1.3rem;
  text-transform: capitalize;

}
.features-grid img{
  width: 40%;
  mix-blend-mode: multiply;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-25%,30%);
  pointer-events:none ;
}
.grid i{
  font-size: 2rem;
  
  color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center ;
  vertical-align:middle;
  text-align: center;
  background-color: #89D69F;
  cursor: pointer;
}
.services{
  margin-top: 1.5rem;
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 750px;
}
.service-top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;

}
.service-top h2{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 800;
}
.service-top p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  width: 60%;

}
.cards-grid{
  margin-top: 1.5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  flex-direction: row;
  
}
.card{
  width: 350px;
  height: 400px;
  background-color:#E6E8DD;
  position: relative;
  border-radius:15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  padding: 3rem 2rem;
 gap: 2rem;
  align-items: center;
  
}
.top p{
  display: flex;
  font-size: 1rem;
  gap: 5px;
  align-items: center;
}
.top p i{
  color: #FBC208;
}
.top .first{
  font-size: 1rem;
  
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center ;
  vertical-align:middle;
  text-align: center;
  background-color: #89D69F;
  
}
.top img{
  width: 100%;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%,-20%);
  object-fit: contain;
  
}
.card .bottom{
  height: 50%;
  padding: 2rem 2rem; 
  
}
.bottom h5{
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-container p{
  font-size: 1.3rem;
  font-weight: 500;
}
.button-container button{
  padding: 10px 10px;
  border-radius:15px;
  outline: none;
  width: 50%;
  border: 1px solid #548776;
  background-color: transparent;
  color: #096704;
}